[flake8]
ignore = C901, W504
max-line-length = 125
exclude = .git,__pycache__,old,build,dist,*/migrations/*.py,.pytest_cache,.python-venv,.mypy_cache,node_modules
max-complexity = 10
per-file-ignores =
    /**/tests/*_mock_data.py: E501
    **/snap_test_*.py: E501
